.sign-up-form-header {
  margin-top: 3vh;
}

.formfield {
  margin: 30px 30px 0;
  label{
    display: block;
    margin-bottom: 5px;
  }
  .error {
    margin-top: 5px;
    font-size: 13px;
  }
}

.form-header {
  text-align: center;
  margin-top: 30px;
}

.form-container {
  background-color: #f8bfb4;
 width: 90%;
 max-width: 500px;
 margin: 30px;
}

.recipe-new-form-container {
 max-width: 800px;
}

form {
  height: 100%;
}

input, button, .new-recipe-select {
  height: 40px;
  width: 180px;
  border: none;
  padding-left: 8px;
}

input {
  cursor: text;
}

.formfield > input, button, textarea, .new-recipe-select {
  width: 100%;
 font-family: inherit;
}
textarea {
padding: 5px;
border: 0 none;
}
.form-button {
  height: 8vh;
  margin: 20px 30px 30px;
  background-color: rgb(246,150,121);
  font-size: 4vh;
  font-family: "Nunito";
  width: calc(100% - 60px);
}

button:hover {
  background-color: rgba(250, 154, 102, 0.735);
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 10vh;
}

input[type=checkbox] {
  width: 5vh;
  vertical-align: middle;
  margin: 0;
  cursor: pointer;
  
}

.checkbox-container, input[type=file] {
  display: flex;
  justify-content: space-between;
}

label {
  margin-right: 2vh;
}

input[type=file] {
  background: unset;
  padding-left: unset;
}

.error {
  color: red;
  font-size: 10px;
}
@media screen and (min-width: 480px) {
  .form-container {
    width: 90%;
  }
}
