@import './singleRecipe';
$background: #ff5353;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input {
  font-family: "Kefa";
  letter-spacing: 0.5px;
  background-color: rgb(245, 245, 245);
}

.monthRecipes {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: $background;
  align-items: center;
  height: 90px;
  font-size: 33px;
  
}
.homePage {
  margin: 20px 10px 5px;
}
.viewRecipe {
background-color: $background;
padding: 10px 20px;
margin: 20px;
font-size: 20px;
border-radius: 5px;
}
.searchPage {
  margin-bottom: 90px;
}
.viewRecipeSearch {
  background-color: $background;
 padding: 8px 10px;
 align-items: flex-end;
justify-content: center;
font-size: 20px;
border-radius: 5px;
}
.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.carouselImage {
  
  img{
    object-fit: cover;
    height: 600px;
    width: 700px!important;
  }
}
.recipeSearch {
  background-color: rgb(252, 246, 246);
  border-radius: 5px;
  font-size: 18px;
  margin-left: 7px;
  width: 230px;

}
.searchBackground {
  background-color: $background;
  margin: 20px 10px 10px;
  height: 90px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 33px;
}
.selectFilter {
 margin-top: 30px;
 font-size: 20px;
}
 .selectFilterDiet{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-left: 5px;
  border: 5px;
  
}
select {
  background-color: rgb(250, 249, 249);
  border-radius: 5px;
  border: 5px;
  margin-left: 5px;
  color: rgb(92, 92, 92);
}
.selectFilterRating{
  display: flex;
  margin-bottom: 20px;
  margin-left: 5px;
  border: 5px;
}
// * {
//   font-size: 93px;
//   font-family: "Kefa";
//   color: rgb(0, 0, 0);
//   line-height: 1.2;
//   text-align: center;
//   -moz-transform: matrix( 0.17058187151651,0,0,0.17058187151651,0,0);
//   -webkit-transform: matrix( 0.17058187151651,0,0,0.17058187151651,0,0);
//   -ms-transform: matrix( 0.17058187151651,0,0,0.17058187151651,0,0);
//   position: absolute;
//   left: 740.264px;
//   top: 406.162px;
//   z-index: 11;
// }
.carousel.carousel-slider .control-arrow {
  top: 0;
 
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
  height: 600px;
  display: flex;
  align-items: center;
}

.carouselItem {
  display: flex;
  flex-direction: row;
  flex: 1;
 
}
.carouselInfo {
  padding: 0 50px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
   h2 {
     font-size: 50px;
   }
}

.homemade {
  font-size: 40px;
  font-family: "WTR Gothic Open Shaded";
  color: rgb(0, 0, 0);
  text-align: center;
}

.navBar {
  background-color: $background;
  height: 78px;
  .container {
    height: 100%;
    display: flex;
  justify-content: space-between;
  align-items: center;
  }
}

.links {
  display: flex;
  float: right;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;

}

ul {
  display: flex;
  list-style-type: none;
}

li, .search-bar {
  text-transform: uppercase;
  padding-right: 10px;
}

a {
  color: inherit;
  text-decoration: none;
  margin-left: 10px;
}
.welcomeIMG {
  height: 500px;
}
.createIMG {
  height: 200px;
  margin-left: 10px;
}

input, button {
  height: 40px;
  width: 180px;
  border: none;
  padding-left: 8px;
}

input {
  cursor: text;
}

.form-header {
  text-align: center;
  margin-bottom: 5vh;
}

.form-container {
  background-color: #ff5353;
  --width: 60vh;
  width: 60vh;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


.signUpPage, .loginPage {
  background-color: white;
  width: 100vw;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formfield > input, button {
  width: calc(var(--width) * 0.8);
  margin-top: 2vh;
}

.form-button {
  height: 8vh;
  margin-bottom: 6vh;
  background-color: rgb(246,150,121);
  font-size: 4vh;
  font-family: "Kefa";
}

button:hover {
  background-color: rgba(250, 154, 102, 0.735);
  cursor: pointer;
}

.formfield {
  margin: 30px 0px 30px 0px;
}

h2 {
  font-size: 4vh;
  margin-bottom: 2vh;
}

h3 {
  font-size: 1.5vh;
}
h4 {
  font-size: 28px;
  text-align: center;
  margin: 5px 10px;
}
.tittle {
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}
.stars {
  font-size: 30px;
  margin: 20px;

}
.avrHome {
  font-size: 70px;
  color:#ff5353;
}
// p {
//   text-transform: uppercase;
// }

.sign-up-form-container {
  height: 65vh;
}

.sign-up-form-header {
  margin-top: 3vh;
}

// .signUpPage {
//   background-color: rgb(110, 236, 106);
//   width: 100vw;
//   min-height: 100vh;
// }

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
 
}
.searchIMG {
  height: 200px;
  width: 100%;
  object-fit: cover;
 
}
.recipeCard {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: calc(25% - 20px);
  background-size: cover;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  margin: 10px 10px;
  box-shadow: 2px 7px 10px 0px rgba(204,204,204,0.6);
  padding-bottom: 20px;
}
.grey {
  filter: grayscale(1);
}
.cardDetails {

display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.logo-container {
  height: 80px;
  width: 80px;
}

.homemade-container {
  height: 80px;
}

.logo, .homemade-logo {
  height: 100%;
  width: 100%;
}

