@import './singleRecipe';

* {
  margin: 0;
  padding: 0;
}

body, input {
  font-family: "Kefa";
  letter-spacing: 0.5px;
}

.monthRecipes {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #ff5353;
  align-items: center;
  height: 50px;
}
.homePage {
  margin-top: 50px;
}
.viewRecipe {
background-color: #ff5353;
padding: 10px 20px;
margin: 20px;
font-size: 20px;
border-radius: 5px;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.carouselImage {
  
  img{
    object-fit: cover;
    height: 600px;
    width: 500px!important;
  }
}
.recipeSearch {
  background-color: rgb(247, 247, 247);
  border-radius: 5px;
  font-size: 15px;
}
.searchBackground {
  background-color: #ff5353;
  margin: 20px;
  height: 50px;
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  
}
// * {
//   font-size: 93px;
//   font-family: "Kefa";
//   color: rgb(0, 0, 0);
//   line-height: 1.2;
//   text-align: center;
//   -moz-transform: matrix( 0.17058187151651,0,0,0.17058187151651,0,0);
//   -webkit-transform: matrix( 0.17058187151651,0,0,0.17058187151651,0,0);
//   -ms-transform: matrix( 0.17058187151651,0,0,0.17058187151651,0,0);
//   position: absolute;
//   left: 740.264px;
//   top: 406.162px;
//   z-index: 11;
// }
.carousel.carousel-slider .control-arrow {
  top: 0;
 
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
  height: 600px;
  display: flex;
  align-items: center;
}

.carouselItem {
  display: flex;
  flex-direction: row;
  flex: 1;
 
}
.carouselInfo {
  padding: 0 50px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   h2 {
     font-size: 50px;
   }
}

.homemade {
  font-size: 40px;
  font-family: "WTR Gothic Open Shaded";
  color: rgb(0, 0, 0);
  text-align: center;
}

.navBar {
  background-color: #ff5353;
  height: 78px;
  .container {
    height: 100%;
    display: flex;
  justify-content: space-between;
  align-items: center;
  }
}

.links {
  display: flex;
  float: right;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

ul {
  display: flex;
  list-style-type: none;
}

li, .search-bar {
  text-transform: uppercase;
  padding-right: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}
.welcomeIMG {
  height: 500px;
}
.createIMG {
  height: 200px;
  margin-left: 10px;
}

input, button {
  height: 40px;
  width: 180px;
  border: none;
  padding-left: 8px;
}

input {
  cursor: text;
}

.form-header {
  text-align: center;
  margin-bottom: 5vh;
}

.form-container {
  background-color: #ff5353;
  --width: 60vh;
  width: 60vh;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


.signUpPage, .loginPage {
  background-color: white;
  width: 100vw;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formfield > input, button {
  width: calc(var(--width) * 0.8);
  margin-top: 2vh;
}

.form-button {
  height: 8vh;
  margin-bottom: 6vh;
  background-color: rgb(246,150,121);
  font-size: 4vh;
  font-family: "Kefa";
}

button:hover {
  background-color: rgba(250, 154, 102, 0.735);
  cursor: pointer;
}

.formfield {
  margin: 30px 0px 30px 0px;
}

h2 {
  font-size: 4vh;
  margin-bottom: 2vh;
}

h3 {
  font-size: 1.5vh;
}

p {
  text-transform: uppercase;
}

.sign-up-form-container {
  height: 65vh;
}

.sign-up-form-header {
  margin-top: 3vh;
}
.serachedCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
// .signUpPage {
//   background-color: rgb(110, 236, 106);
//   width: 100vw;
//   min-height: 100vh;
// }

.searchIMG {
  height: 500px;
  width: 750px;
  margin-top: 65px;
}
.recipeCard {
  background-color:  #f69679;
  width: 100px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 750px;
  background-size: cover;
  
}

.logo-container {
  height: 80px;
  width: 80px;
}

.homemade-container {
  height: 80px;
}

.logo, .homemade-logo {
  height: 100%;
  width: 100%;
}

