
//Search Recipe//
.viewRecipe {
  background-color: $background;
  padding: 10px 20px;
  margin: 20px;
  font-size: 20px;
  width: 250px;
  }
  .viewRecipeSearch {
    background-color: $background;
    padding: 8px 10px;
    align-items: flex-end;
    justify-content: center;
    font-size: 20px;
  }
  .container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
  .recipeSearch {
    background-color: rgb(252, 246, 246);
    font-size: 18px;
    width: 60vw;
    height: 6vh;
  }
  .searchBackground {
    background-color: $background;
    height: 20vh;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 33px;
  }
  .selectFilter {
    font-size: 17px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1vh;
    flex-direction: column;
    padding: 20px;
  }
    .selectFilterDiet{
    display: flex;  
    justify-content: center;
    margin: 10px;
  }
  .selectFilterRating{
    display: flex;
    justify-content: center; 
    margin: 10px;
  }
  .searchSelect {
    border: none;
    background: none;
    width: 16px;
  }
  .cards {
    margin: 30px 0;
    padding: 0 10px;
  }
  .searchIMG {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  .recipeCard {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    background-size: cover;
    color: rgb(0, 0, 0);
    margin: 20px 10px;
    box-shadow: 2px 7px 10px 0px rgba(204,204,204,0.6);
    padding-bottom: 20px;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
  }
  .grey {
    filter: grayscale(1);
  }
  .cardDetails {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  .pageNumber {
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    font-size: 15px;
    margin: 30px;
  }
  .pageNumber:hover {
    background-color: $background;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    font-size: 15px;
    margin: 30px;
  }
  .loadBackground {
    display: flex;
    justify-content: center;
  }
  .error {
  display: flex;
  justify-content: center;
  color: gray;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  